/* ===========================================
   Main styles for e2 Emeril's Eatery
   Author: Terrance Pitre
   =========================================== */

/* CSS Imports
---------------------------------------------- */   
@import url('boilerplate.css');
@import url('fonts.css');


/* @group Base Styles
---------------------------------------------- */

body {
    font: normal 100% OpenSansRegular, Arial, sans-serif;
    color: #424040;
    padding: 20px 0 40px 0;
    background: #fff url('../img/bg-red-grad.jpg') repeat-x center top;
}

a {
    color: #c31e01;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover,
a:focus,
a:active {
    color: #7b0000;
    text-decoration: none;
    outline: 0;
}

h1,
h2,
h3,
h4 {
	font-family: 'ComfortaaBold', Arial, sans-serif;
	text-transform: lowercase;
	font-weight: normal;
}

h2,
h3,
h4 {
	font-family: 'ComfortaaRegular', Arial, sans-serif;
}

h1 {
	font-size: 3.125em;	 /* 50 / 16 */
}

h2 {
	font-size: 2.0625em;  /* 33 / 16 */
}

h4 {
	font-family: OpenSansBold, Arial, sans-serif;
	text-transform: none;
}

button {
    background-color: #eeecec;
    border: 1px solid #ccc;
    font-size: .8em;
    font-weight: bold;
    line-height: 128%;
    padding: 6px 0 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
button:hover { background-color: #cccccc }
button:active { margin: 2px 0 -2px }

/* @end */


/* @group Main Styles 
---------------------------------------------- */
#main-container {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 1.5em;
}

/* Header Content */

#main-header {
	text-align: center;
	margin-bottom: 2.5em;
	color: #fff;
}

#main-header .e2-logos {
	overflow: hidden;
}

#main-header .e2-logos span {
	display: block;
	width: 22.91666%;  /* 220 / 960 */
}

#main-header .e2-logos .e2ee-logo {
	float: left;
	margin-left: 20.83333%;	 /* 200 / 960 */
}

#main-header .e2-logos .e2go-logo {
	float: right;
	margin-right: 20.83333%;  /* 200 / 960 */
}

#main-header h1 {
	clear: both;
	margin: .16em 0;	
}


/* Main Content */

#main-content {
	overflow: hidden;
}

#main-content .block {
	float: left;
	background-color: #fff;
	padding: 6px .75em;
	width: 28.75%;	/* 300 - 24 / 960 */
	margin-right: 2.08333%;  /* 20 / 960 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#main-content .block strong {
	font-size: 1.2em;
	font-weight: normal;
	font-family: OpenSansSemibold, Arial, sans-serif;
}

#main-content .block h2 {
	margin: .3em 0 .7em;
	border-bottom: 1px solid #eee;
}

#main-content .block.last {
	margin-right: 0;
}

#main-content .news h3 {
	margin: .2em 0;
}
#main-content .news h4 {
	margin: .6em 0;
}

#main-content .connect ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main-content .connect ul li {
	margin-bottom: .25em;
}

#main-content .connect ul li.connect-twitter,
#main-content .connect ul li.connect-facebook {
	padding: .2em 0 .5em 2em;
}

#main-content .connect ul li.connect-twitter {
	background: url(../img/icon-twitter.png) no-repeat left 3px;
}

#main-content .connect ul li.connect-facebook {
	background: url(../img/icon-fb.png) no-repeat left 3px;
	margin-bottom: 1.1em;
}

#main-content .connect form {
	margin: .3em 0 1.7em;
}

#main-content .connect form input {
	padding: .3125em;
	padding-bottom: .4em;
	width: 66.6666%;  /* 200 / 300 */ 
}

#main-content .connect form button {
	width: 24.666%;
	
}

#main-content .connect p {
	margin-top: .3em;
}

#main-content .location em {
	font-size: 85%;
}

#main-content .location .map {
	margin-top: .98em;
}


footer {
	padding: 2em 0;
    font-size: 75%;
}
footer .copyright {
    color: #999;
}

/* @end */


/* @group Helper Styles 
---------------------------------------------- */

/* ===[ For image replacement ]=== */
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}
.ir br { display: none }
/** Hide for both screenreaders and browsers:
 *    css-discuss.incutio.com/wiki/Screenreader_Visibility 
 */
.hidden {
    display: none;
    visibility: hidden;
}
/** Hide only visually, but have it available for screenreaders: by Jon Neal.
 *   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden 
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* ===[ Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 ]=== */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/* ===[ Hide visually and from screenreaders, but maintain layout ]=== */
.invisible { visibility: hidden }
/* ===[ Contain floats: nicolasgallagher.com/micro-clearfix-hack/ ]=== */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { zoom: 1 }

/* @end */


/* @group Media Queries */

@media only screen and (min-width: 480px) { 
    /* ===[ Style adjustments for viewports 480px and over go here ]=== */
}
@media only screen and (min-width: 768px) { 
    /* ===[ Style adjustments for viewports 768px and over go here ]=== */
}

/* @end */


/* @group Print Styles */

@media print {	
	
	* {
	    background: transparent !important;
	    color: black !important;
	    text-shadow: none !important;
	    filter: none !important;
	    -ms-filter: none !important;
	}
	/* ===[ Black prints faster: sanbeiji.com/archives/953 ]=== */
	a,
	a:visited {
	    color: #444 !important;
	    text-decoration: underline;
	}
	a[href]:after { content: " (" attr(href) ")" }
	abbr[title]:after { content: " (" attr(title) ")" }
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after { content: "" }
	/* ===[ Don't show links for images, or javascript/internal links ]=== */
	pre,
	blockquote {
	    border: 1px solid #999;
	    page-break-inside: avoid;
	}
	thead { display: table-header-group }
	/* css-discuss.incutio.com/wiki/Printing_Tables  */
	tr,
	img { page-break-inside: avoid }
	img { max-width: 100% !important }	
	
}

/* @end */